body {
	font-family: sans-serif;
}

/* Navbar Background */
ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(0,0,0, .5);
	box-shadow: 0px 5px 10px rgba(0,0,0, .3);
	position: fixed;
	width: 100%;
	z-index: 1;
}

/* float li items */
ul.navbar li {
	float: left;
}

/* link styling */
ul.navbar li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/* link hover */
ul.navbar li a:hover {
	background-color: #555;
}

ul.navbar li.icon {
	display: none;
}

@media screen and (max-width: 680px) {
	ul.navbar li:not(:first-child) {
		display: none;
	}
	ul.navbar li.icon {
		float: right;
		display: inline-block;
	}
}
@media screen and (max-width:680px) {
	ul.navbar.responsive {
		position: fixed;
	}
	ul.navbar.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.navbar.responsive li {
		float: none;
		display: inline;
	}
	ul.navbar.responsive li a {
		display: block;
		text-align: left;
	}
}

/* Page Styles */

.container {
	width: 80%;
	margin: 0 auto;
	color: red;
}
.header {
	display: flex;
	background-image: url('https://images.unsplash.com/photo-1464142084585-c6ded77b9710?dpr=1.25&auto=format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=');
	background-size: cover;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section {
	min-height: 400px;
	margin: 0px;
	padding: 10px;
}

.about {
	background-color: green;
}
.work {
	background-color: red;
}
.contact {
	background-color: blue;
}